<nav class="page-nav" aria-label="Hlavní navigace">
  <a routerLink="/welcome-page" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }">
    Úvod
  </a>

  <a routerLink="/place-page" routerLinkActive="is-active">
    Info
  </a>

  <a routerLink="/guests-page" routerLinkActive="is-active">
    Hosté
  </a>

  <a routerLink="/gallery-page" routerLinkActive="is-active">
    Galerie
  </a>
</nav>
<!--<img src="/assets/images/divider-transparent.png" alt="" class="divider"> -->