<app-navigation-page></app-navigation-page>

<section class="quest-page">
  <section class="info-intro info-intro--shadow-gold-soft">
    <h1 class="info-intro__title">Kdo s kým</h1>

    <div class="info-intro__divider" aria-hidden="true">
      <span class="info-intro__line"></span>
      <span class="info-intro__diamond"></span>
      <span class="info-intro__line"></span>
    </div>

    <p class="info-intro__text">
      Všichni, kteří s námi oslaví<br />
      náš velký den.
    </p>
  </section>

  <section class="guest-list guest-list--two-columns">
    <div class="guest-column">
      <div class="guest-column__icon" aria-hidden="true">
        <img src="assets/images/crown.png" alt="" class="guest-column__image guest-column__image--crown" />
      </div>

      <h2 class="section__heading">Nevěsta</h2>
      <!--<p class="guest-column__subtitle">Hosté nevěsty</p>-->

      <div class="guest-pair">
        <span class="guest-pair__name">Renata Pleskačová</span>
        <span class="guest-pair__amp">&amp;</span>
        <span class="guest-pair__name">Aleš Pleskač</span>
      </div>

      <div class="guest-pair">
        <span class="guest-pair__name">Klára Pleskačová</span>
        <span class="guest-pair__amp">&amp;</span>
        <span class="guest-pair__name">Irena Chvojtíková</span>
      </div>

      <div class="guest-pair">
        <span class="guest-pair__name">Marie Košťálová</span>
        <span class="guest-pair__amp">&amp;</span>
        <span class="guest-pair__name">-</span>
      </div>

      <div class="guest-pair">
        <span class="guest-pair__name">Petr Košťál</span>
        <span class="guest-pair__amp">&amp;</span>
        <span class="guest-pair__name">Iveta Košťálová</span>
      </div>

      <div class="guest-pair">
        <span class="guest-pair__name">Radek Pleskač</span>
        <span class="guest-pair__amp">&amp;</span>
        <span class="guest-pair__name">Jana Drábková</span>
      </div>

      <div class="guest-pair">
        <span class="guest-pair__name">Radek Pleskač</span>
        <span class="guest-pair__amp">&amp;</span>
        <span class="guest-pair__name">Míša Pleskačová</span>
      </div>

      <div class="guest-pair">
        <span class="guest-pair__name">Tom Pleskač</span>
        <span class="guest-pair__amp">&amp;</span>
        <span class="guest-pair__name">Peťa Pleskačová</span>
      </div>

      <div class="guest-pair">
        <span class="guest-pair__name">Jaroslav Schaller</span>
        <span class="guest-pair__amp">&amp;</span>
        <span class="guest-pair__name">Iva Schallerová</span>
      </div>

      <div class="guest-pair">
        <span class="guest-pair__name">Libor Petráš</span>
        <span class="guest-pair__amp">&amp;</span>
        <span class="guest-pair__name">Iva Petrášová</span>
      </div>

      <div class="guest-pair">
        <span class="guest-pair__name">Klára Čumová</span>
        <span class="guest-pair__amp">&amp;</span>
        <span class="guest-pair__name">Marek Musil</span>
      </div>

      <div class="guest-pair">
        <span class="guest-pair__name">Barča Helísková</span>
        <span class="guest-pair__amp">&amp;</span>
        <span class="guest-pair__name">Roman Zkamene</span>
      </div>

      <div class="guest-pair">
        <span class="guest-pair__name">Klára Bartošová</span>
        <span class="guest-pair__amp">&amp;</span>
        <span class="guest-pair__name">Dominik Bartoš</span>
      </div>

      <div class="guest-pair">
        <span class="guest-pair__name">Verča Kropáčková</span>
        <span class="guest-pair__amp">&amp;</span>
        <span class="guest-pair__name">Tomáš Novotný</span>
      </div>

      <div class="guest-pair">
        <span class="guest-pair__name">Jakub Gruber</span>
        <span class="guest-pair__amp">&amp;</span>
        <span class="guest-pair__name">Terka Škopíková</span>
      </div>

      <div class="guest-pair">
        <span class="guest-pair__name">Luboš Janšta</span>
        <span class="guest-pair__amp">&amp;</span>
        <span class="guest-pair__name">-</span>
      </div>

      <div class="guest-pair">
        <span class="guest-pair__name">Gabriela Jůzová</span>
        <span class="guest-pair__amp">&amp;</span>
        <span class="guest-pair__name">-</span>
      </div>
    </div>

    <div class="guest-column">
      <div class="guest-column__icon" aria-hidden="true">
        <img src="assets/images/bowtie.png" alt="" class="guest-column__image guest-column__image--bowtie" />
      </div>

      <h2 class="section__heading">Ženich</h2>
      <!--<p class="guest-column__subtitle">Hosté ženicha</p>-->

      <div class="guest-pair">
        <span class="guest-pair__name">Mirka Dvořáková</span>
        <span class="guest-pair__amp">&amp;</span>
        <span class="guest-pair__name">Miloš Matula</span>
      </div>

      <div class="guest-pair">
        <span class="guest-pair__name">Liba Janků</span>
        <span class="guest-pair__amp">&amp;</span>
        <span class="guest-pair__name">Libor Janků</span>
      </div>

      <div class="guest-pair">
        <span class="guest-pair__name">Aneta Janků</span>
        <span class="guest-pair__amp">&amp;</span>
        <span class="guest-pair__name">-</span>
      </div>

      <div class="guest-pair">
        <span class="guest-pair__name">Bára Janků</span>
        <span class="guest-pair__amp">&amp;</span>
        <span class="guest-pair__name">-</span>
      </div>

      <div class="guest-pair">
        <span class="guest-pair__name">Lukáš Veselý</span>
        <span class="guest-pair__amp">&amp;</span>
        <span class="guest-pair__name">Ája Veselá</span>
      </div>

      <div class="guest-pair">
        <span class="guest-pair__name">Honza Veselý</span>
        <span class="guest-pair__amp">&amp;</span>
        <span class="guest-pair__name">Martina Veselá</span>
      </div>

      <div class="guest-pair">
        <span class="guest-pair__name">Klára Weinfurter</span>
        <span class="guest-pair__amp">&amp;</span>
        <span class="guest-pair__name">Aleš Weinfurter</span>
      </div>


      <div class="guest-pair">
        <span class="guest-pair__name">Míša Zdražilová</span>
        <span class="guest-pair__amp">&amp;</span>
        <span class="guest-pair__name">Tomáš Zdražil</span>
      </div>

      <div class="guest-pair">
        <span class="guest-pair__name">Tomáš Vorel</span>
        <span class="guest-pair__amp">&amp;</span>
        <span class="guest-pair__name">Jolča Vorlová</span>
      </div>

      <div class="guest-pair">
        <span class="guest-pair__name">Libor Knoflíček</span>
        <span class="guest-pair__amp">&amp;</span>
        <span class="guest-pair__name">-</span>
      </div>
      <div class="guest-pair">
        <span class="guest-pair__name">Vojta Zdražil</span>
        <span class="guest-pair__amp">&amp;</span>
        <span class="guest-pair__name">Zdena Tajná</span>
      </div>

      <div class="guest-pair">
        <span class="guest-pair__name">Tomáš Marvan</span>
        <span class="guest-pair__amp">&amp;</span>
        <span class="guest-pair__name">-</span>
      </div>


      <div class="guest-pair">
        <span class="guest-pair__name">Tomáš Marvánek</span>
        <span class="guest-pair__amp">&amp;</span>
        <span class="guest-pair__name">-</span>
      </div>

      <div class="guest-pair">
        <span class="guest-pair__name">Jiří Poledňák</span>
        <span class="guest-pair__amp">&amp;</span>
        <span class="guest-pair__name">-</span>
      </div>

      <div class="guest-pair">
        <span class="guest-pair__name">Petra Kudláčová</span>
        <span class="guest-pair__amp">&amp;</span>
        <span class="guest-pair__name">Ondřej Kudláč</span>
      </div>

      <div class="guest-pair">
        <span class="guest-pair__name">Štěpánka Huláková</span>
        <span class="guest-pair__amp">&amp;</span>
        <span class="guest-pair__name">-</span>
      </div>
    </div>
  </section>
</section>

<app-footer-page></app-footer-page>