<app-navigation-page></app-navigation-page>

<section class="quest-page">
  
  <!---
  <header class="page-hero">
    <h1 class="page-title">Hosté</h1>

    <p class="page-subtitle">Kdo s námi oslaví tento den</p>

    <div class="hero-ornament" aria-hidden="true">
      <span></span>
    </div>
  </header>
-->

  <section class="info-card guests-card">
    <h2 class="card-title">Seznam hostů</h2>

    <div class="card-content">
      <div class="guest-pair">
        <span>Martin Dvořák</span>
        <span class="guest-amp">&amp;</span>
        <span>Lucie Dvořáková</span>
      </div>

      <div class="small-divider" aria-hidden="true">
        <span></span>
      </div>

      <div class="guest-pair">
        <span>Martin Dvořák</span>
        <span class="guest-amp">&amp;</span>
        <span>Lucie Dvořáková</span>
      </div>

      <div class="small-divider" aria-hidden="true">
        <span></span>
      </div>

      <div class="guest-pair">
        <span>Martin Dvořák</span>
        <span class="guest-amp">&amp;</span>
        <span>Lucie Dvořáková</span>
      </div>

      <div class="small-divider" aria-hidden="true">
        <span></span>
      </div>

      <div class="guest-pair">
        <span>Martin Dvořák</span>
        <span class="guest-amp">&amp;</span>
        <span>Lucie Dvořáková</span>
      </div>

            <div class="small-divider" aria-hidden="true">
        <span></span>
      </div>

      <div class="guest-pair">
        <span>Martin Dvořák</span>
        <span class="guest-amp">&amp;</span>
        <span>Lucie Dvořáková</span>
      </div>

            <div class="small-divider" aria-hidden="true">
        <span></span>
      </div>

      <div class="guest-pair">
        <span>Martin Dvořák</span>
        <span class="guest-amp">&amp;</span>
        <span>Lucie Dvořáková</span>
      </div>
    </div>
  </section>
</section>

<app-footer-page></app-footer-page>