<app-navigation-page></app-navigation-page>

<section class="gallery-page">
  <!--
  <header class="page-hero">
    <h1 class="page-title">Galerie</h1>

    <p class="page-subtitle">Vzpomínky, momenty a fotografie</p>

 
    <div class="hero-ornament" aria-hidden="true">
      <span></span>

    </div>
  </header>
    -->

  <section class="info-card gallery-card">
    <h2 class="card-title">Fotografie</h2>

    <div class="gallery-grid">
      <figure class="gallery-item">
        <!--<img src="/assets/images/foto_placeholder2.png" alt="Svatební fotografie 1" />-->
      </figure>

      <figure class="gallery-item">
        <!--<img src="/assets/images/foto_placeholder2.png" alt="Svatební fotografie 1" />-->
      </figure>

      <figure class="gallery-item">
        <!--<img src="/assets/images/foto_placeholder2.png" alt="Svatební fotografie 1" />-->
      </figure>

      <figure class="gallery-item">
        <!--<img src="/assets/images/foto_placeholder2.png" alt="Svatební fotografie 1" />-->
      </figure>

      <figure class="gallery-item">
        <!--<img src="/assets/images/foto_placeholder2.png" alt="Svatební fotografie 1" />-->
      </figure>

      <figure class="gallery-item">
        <!--<img src="/assets/images/foto_placeholder2.png" alt="Svatební fotografie 1" />-->
      </figure>
    </div>
  </section>
</section>

<app-footer-page></app-footer-page>