<section class="gallery-page route-stack">
  <section class="route-card route-card--hero route-card--gallery-hero">
    <section class="gallery-hero">
      <app-navigation-page></app-navigation-page>

      <section class="info-intro info-intro--shadow-gold-soft">
        <!--<h1 class="info-intro__title">Galerie</h1>-->

        <p class="info-intro__text">
          Jednou tady možná budou<br>
          i nějaké fotky.
        </p>
      </section>
    </section>
  </section>

  <section class="route-card route-card--section gallery-card">
    <div class="gallery-grid">
      <figure class="gallery-item"></figure>
      <figure class="gallery-item"></figure>
      <figure class="gallery-item"></figure>
      <figure class="gallery-item"></figure>
      <figure class="gallery-item"></figure>
      <figure class="gallery-item"></figure>
    </div>
  </section>

  <section class="route-card route-card--footer">
    <app-footer-page></app-footer-page>
  </section>
</section>
