<section class="welcome">

  <!-- LOGO -->
  <div class="top-logo">
    <img src="assets/images/logo2.png" alt="Viktor & Barbora logo" />
  </div>

  <!-- jména -->
  <h1 class="names">
    Barbora Pleskačová<br />
    <span class="amp">&</span><br />
    Viktor Dvořák
  </h1>

   <!--<div class="divider"></div>-->

  <h2 class="subtitle">Svatební after party</h2>

  <p class="date">29. srpna 2026 <br/> v 15:00</p>

  <div class="small-divider">
    <span></span>
  </div>

  <p class="date">
    Hostinec u Kovářů<br />
    Železné
  </p>

  <button class="cta">
    <a routerLink="/place-page" routerLinkActive="is-active">Více informací</a>
  </button>


</section>