<section class="welcome">

  <!-- LOGO -->
  <div class="top-logo">
    <img src="assets/images/logo3.png" alt="Viktor & Barbora logo" />
  </div>

  <!-- jména -->
  <h1 class="names">
    Barbora Pleskačová<br />
    <span class="amp">&</span><br />
    Viktor Dvořák
  </h1>

  <!--<div class="divider"></div>-->

  <h2 class="subtitle">Svatební after party</h2>
  <div class="date-group">
    <p class="date date--time">
      <img src="assets/images/time.png" alt="Ikona plánu" class="date-icon" />
      <span class="date-text">
        29. srpna 2026<br />
        v 14:30
      </span>
    </p>

    <div class="heart-divider" aria-hidden="true">
      <span class="heart-divider__line"></span>
    </div>

    <p class="date date--place">
      <img src="assets/images/place-map.png" alt="Ikona místa" class="date-icon" />
      <span class="date-text">
        Hostinec u Kovářů<br />
        Železné
      </span>
    </p>
  </div>

  <button class="cta">
    <a routerLink="/place-page" routerLinkActive="is-active">Více informací</a>
  </button>


</section>