:host {
  display: block;
  width: 100%;
}

.app-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

/* hlavní karta */
.page-frame {
  width: 100%;
  max-width: 460px;
  background: #ffffff;
  border-radius: 24px;
  position: relative;
  padding: 28px 24px;
}

.page-frame--place {
  overflow: hidden;
}

/* vnitřní rámeček */
.page-frame::before {
  content: "";
  position: absolute;
  inset: 12px;
  border: 1px solid var(--color-border);
  border-radius: 20px;
  pointer-events: none;
  z-index: 2;
}

/* obsah */
.page-content {
  position: relative;
  z-index: 1;
  /*animace*/
  overflow: hidden;
  min-height: 720px;

}

.page-content--place {
  overflow: visible;
}

/* TABLET */
@media (min-width: 768px) {
  .app-container {
    padding: 24px;
  }

  .page-frame {
    max-width: 520px;
    padding: 34px 28px;
    border-radius: 28px;
  }

  .page-frame::before {
    inset: 14px;
    border-radius: 22px;
  }

  .page-content {
    min-height: 760px;
  }
}

/* DESKTOP */
@media (min-width: 900px) {
  .app-container {
    padding: 24px;
  }

  .page-frame {
    max-width: 520px;
    padding: 34px 28px;
    border-radius: 28px;
  }

  .page-frame::before {
    inset: 14px;
    border-radius: 22px;
  }

  .page-content {
    min-height: 760px;
  }
}