<app-navigation-page></app-navigation-page>

<section class="instruction-page">
  <section class="info-intro info-intro--shadow-gold-soft">
    <h1 class="info-intro__title">Kdy, kde, co a jak</h1>

    <div class="info-intro__divider" aria-hidden="true">
      <span class="info-intro__line"></span>
      <span class="info-intro__diamond"></span>
      <span class="info-intro__line"></span>
    </div>

    <p class="info-intro__text">
      Tady najdete vše důležité<br>
      na jednom místě.
    </p>
  </section>

  <section class="info-card info-card--wide info-card--event">
    <h2 class="section__heading">Kdy a kde</h2>

    <div class="card-content card-content--center">
      <p class="event-date">29. srpna 2026</p>
      <p class="event-date">v 15:00</p>
      <p class="event-place">
        <a href="https://maps.google.com/?q=Hostinec u Kovářů Železné" target="_blank" class="event-link">

          Hostinec u Kovářů, Železné

          <span class="map-icon">
            <svg viewBox="0 0 24 24" class="map-pin-icon" fill="none" aria-hidden="true">
              <path d="M12 21s-6-5.5-6-10a6 6 0 1 1 12 0c0 4.5-6 10-6 10Z" />
              <circle cx="12" cy="11" r="2" />
            </svg>
          </span>

        </a>
      </p>
    </div>
  </section>

  <section class="info-card info-card--text">
    <h2 class="section__heading">Co Vás čeká</h2>

    <div class="card-content">
      <p>Můžete se těšit na občerstvení formou rautu, piva a vína bude určitě dostatek a podávat se bude i tvrdý domací
        alkohol.
        K tanci i poslechu nám bude hrát DJ Lopata.</p>

      <p>Co se týká oblečení, tak hlavně pohodlně! Šortky s košilí a plátěné boty jsou pro chlapy naprosto v pohodě,
        ženský ať si vezmou co chtějí.
        Děti raději nechte doma, ale pokud přijdou, do chlívku je zavírat nebudem. Dopravit na místo se můžete autem -
        parkovat je možné přímo před hostincem, prípadně autobusem, tišnováci ať raději dojdou pěšky.
        Od 17:00h bude fungovat rozvoz prvních odpadlíků, kteří přepálili start nebo jim jen prostě spadl klíňák.
      </p>
      <br>
      <p>Těšíme se na společné veselí, tanec a smích!</p>
    </div>
    <div class="signatures">
      <img src="/assets/images/podpisy2.png" alt="Barbora a Viktor – podpis" />
    </div>
  </section>

  <section class="info-card info-card--wide">
    <h2 class="section__heading">Potvrzení účasti</h2>

    <div class="card-content card-content--center">
      <p class="rsvp-text">
        Prosíme o potvrzení účasti do <strong>10. srpna</strong>.
        Pokud se budete potřebovat na něco zeptat, tak klidně zavolejte nebo napiště.
      </p>
    </div>

    <div class="contact-inline-vertical">

      <!-- Barča -->
      <div class="contact-inline-vertical__item">

        <div class="contact-inline-vertical__icons">

          <!-- Telefon -->
          <a href="tel:+420735006119" class="contact-inline-vertical__link" aria-label="Zavolat Barče"
            title="Zavolat Barče">

            <svg viewBox="0 0 24 24" class="phone-icon">
              <path d="M6.6 10.8a15.5 15.5 0 0 0 6.6 6.6l2.2-2.2a1 1 0 0 1 1-.25
          c1.1.3 2.3.5 3.6.5a1 1 0 0 1 1 1V21a1 1 0 0 1-1 1
          C10.3 22 2 13.7 2 3a1 1 0 0 1 1-1h3.5a1 1 0 0 1 1 1
          c0 1.3.2 2.5.5 3.6a1 1 0 0 1-.25 1L6.6 10.8z" />
            </svg>

          </a>

          <!-- WhatsApp -->
          <a href="https://wa.me/420735006119" target="_blank" class="contact-inline-vertical__link"
            aria-label="WhatsApp Barča" title="Napsat na WhatsApp">
            <svg viewBox="0 0 24 24" class="whatsapp-icon">
              <path d="M12 4a8 8 0 0 1 6.6 12.6L20 20l-3.4-1.2A8 8 0 1 1 12 4z" />
            </svg>

          </a>

        </div>

        <span class="contact-inline-vertical__name">Barča</span>
      </div>


      <!-- Viktor -->
      <div class="contact-inline-vertical__item">

        <div class="contact-inline-vertical__icons">

          <!-- Telefon -->
          <a href="tel:+420604345162" class="contact-inline-vertical__link" aria-label="Zavolat Viktorovi"
            title="Zavolat Viktorovi">

            <svg viewBox="0 0 24 24" class="phone-icon">
              <path d="M6.6 10.8a15.5 15.5 0 0 0 6.6 6.6l2.2-2.2a1 1 0 0 1 1-.25
          c1.1.3 2.3.5 3.6.5a1 1 0 0 1 1 1V21a1 1 0 0 1-1 1
          C10.3 22 2 13.7 2 3a1 1 0 0 1 1-1h3.5a1 1 0 0 1 1 1
          c0 1.3.2 2.5.5 3.6a1 1 0 0 1-.25 1L6.6 10.8z" />
            </svg>

          </a>

          <!-- WhatsApp -->
          <a href="https://wa.me/420604345162" target="_blank" class="contact-inline-vertical__link"
            aria-label="WhatsApp Viktor" title="Napsat na WhatsApp">

            <svg viewBox="0 0 24 24" class="whatsapp-icon">
              <path d="M12 4a8 8 0 0 1 6.6 12.6L20 20l-3.4-1.2A8 8 0 1 1 12 4z" />
            </svg>

          </a>

        </div>

        <span class="contact-inline-vertical__name">Viktor</span>
      </div>
    </div>
  </section>
  <!--
  <section class="info-card info-card--wide">
    <h3 class="section__heading">Chybějící info</h3>

    <p class="missing-info__text">
      Pokud se budete potřebovat na něco zeptat, tak klidně zavolejte.
    </p>

    <div class="contact-inline-vertical">


      <div class="contact-inline-vertical__item">

        <div class="contact-inline-vertical__icons">

          <a href="tel:+420735006119" class="contact-inline-vertical__link" aria-label="Zavolat Barče"
            title="Zavolat Barče">

            <svg viewBox="0 0 24 24" class="phone-icon">
              <path d="M6.6 10.8a15.5 15.5 0 0 0 6.6 6.6l2.2-2.2a1 1 0 0 1 1-.25
          c1.1.3 2.3.5 3.6.5a1 1 0 0 1 1 1V21a1 1 0 0 1-1 1
          C10.3 22 2 13.7 2 3a1 1 0 0 1 1-1h3.5a1 1 0 0 1 1 1
          c0 1.3.2 2.5.5 3.6a1 1 0 0 1-.25 1L6.6 10.8z" />
            </svg>

          </a>

          <a href="https://wa.me/420735006119" target="_blank" class="contact-inline-vertical__link"
            aria-label="WhatsApp Barča" title="Napsat na WhatsApp">
            <svg viewBox="0 0 24 24" class="whatsapp-icon">
              <path d="M12 4a8 8 0 0 1 6.6 12.6L20 20l-3.4-1.2A8 8 0 1 1 12 4z" />
            </svg>

          </a>

        </div>

        <span class="contact-inline-vertical__name">Barča</span>
      </div>


      <div class="contact-inline-vertical__item">

        <div class="contact-inline-vertical__icons">

          <a href="tel:+420604345162" class="contact-inline-vertical__link" aria-label="Zavolat Viktorovi"
            title="Zavolat Viktorovi">

            <svg viewBox="0 0 24 24" class="phone-icon">
              <path d="M6.6 10.8a15.5 15.5 0 0 0 6.6 6.6l2.2-2.2a1 1 0 0 1 1-.25
          c1.1.3 2.3.5 3.6.5a1 1 0 0 1 1 1V21a1 1 0 0 1-1 1
          C10.3 22 2 13.7 2 3a1 1 0 0 1 1-1h3.5a1 1 0 0 1 1 1
          c0 1.3.2 2.5.5 3.6a1 1 0 0 1-.25 1L6.6 10.8z" />
            </svg>

          </a>

          <a href="https://wa.me/420604345162" target="_blank" class="contact-inline-vertical__link"
            aria-label="WhatsApp Viktor" title="Napsat na WhatsApp">

            <svg viewBox="0 0 24 24" class="whatsapp-icon">
              <path d="M12 4a8 8 0 0 1 6.6 12.6L20 20l-3.4-1.2A8 8 0 1 1 12 4z" />
            </svg>

          </a>

        </div>

        <span class="contact-inline-vertical__name">Viktor</span>
      </div>

    </div>
  </section>
  -->
</section>

<app-footer-page></app-footer-page>