.program-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*width: 100%;*/
}

.program-row {
  font-size: 1.1rem;
  margin: 20px 0;
  text-align: center;
}

.divider {
  width: 10%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 10px 0;
}

@media (max-width: 600px) {
  .program-row {
    font-size: 1rem;
  }

  .divider {
    width: 50%;
  }
}