<section class="hero">
    <div class="hero-text">
        <div class="program-list">
            <div class="program-row">13:00 Obřad</div>
            <div class="divider"></div>

            <div class="program-row">13:45 Společné focení</div>
            <div class="divider"></div>

            <div class="program-row">14:30 Oběd</div>
            <div class="divider"></div>

            <div class="program-row">15:30 Krájení dortu</div>
            <div class="divider"></div>

            <div class="program-row">16:00 Focení novomanželů</div>
            <div class="divider"></div>

            <div class="program-row">17:00 Raut</div>
            <div class="divider"></div>

            <div class="program-row">18:00 První tanec</div>
            <div class="divider"></div>

            <div class="program-row">19:00 Zábava</div>
        </div>
    </div>
</section>