/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Inter:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

/* ROOT VARIABLES */
:root {
  --color-bg: #F8F6F2;
  --color-text: #726962;/*#2B2B2B;*/
  --color-muted: #6B6B6B;
  --color-accent: #C8A96A;
  --color-border: #E5DED6;
}

/* BODY */
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.6;
}

/* TYPOGRAPHY */
/*
h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}

h1 {
  font-size: 32px;
  line-height: 1.2;
}

h2 {
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-accent);
}

p {
  font-size: 14px;
  color: var(--color-muted);
}*/

h1, h2, h3, p {
  margin: 0;
}

/* BUTTON */
button {
  font-family: 'Inter', sans-serif;
  border: 1px solid var(--color-accent);
  background: transparent;
  color: var(--color-text);
  padding: 10px 20px;
  border-radius: 999px;
  cursor: pointer;
}

/* TABLET */
@media (min-width: 768px) {
  /*h1 {
    font-size: 40px;
  }

  p {
    font-size: 15px;
  }*/
  body {
    display: flex;
    justify-content: center;
  }
}

/* DESKTOP */
@media (min-width: 900px) {
  
  /*h1 {
    font-size: 48px;
  }

  body {
    display: flex;
    justify-content: center;
  }*/
    body {
    display: flex;
    justify-content: center;
  }
}